{{ define "main" }}
<section class="series-list-page">
  <div class="series-list-grid">
    {{ range .Pages }}
      <a href="{{ .Permalink }}" class="series-list-item">
        <div class="series-list-img">
          <img src="{{ .Params.coverImage }}" alt="{{ .Title }}" loading="lazy">
        </div>
        <div class="series-list-meta">
          <span class="series-list-location">{{ with .Params.fullname }}{{ . }}{{ else }}{{ .Title }}{{ end }}</span>
        </div>
      </a>
    {{ end }}
  </div>
</section>
{{ end }}
